@{
    ViewData["Title"] = "Strona główna";
}
<style>
    #jub {
        background-color: rgba(181, 181, 181,.8);
    }

    #tekst {
        color: black;
    }
    #w {
        color: darkmagenta;
    }
</style>

<div class="jumbotron" id="jub">
    <h1>Budżet Domowy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 id="w">Wprowadzenie</h2>
        <p id="tekst">
            Budżet Domowy to aplikacja pomagająca zarządzać codziennymi wydatkami rodziny. 
        </p>
    </div>
</div>
